body {
    margin: 0;
    background: #477899;
    font-family: sans-serif;
}

.todo-container {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-section input {
    border-radius: 5px;
    width: 100%;
    border: 0px solid;
    padding: 10px;
    box-sizing: border-box;
}

input ::placeholder {
    color: rgb(43, 25, 1);
    border: 0px solid;
}

input:focus {
    outline: none;
}

ul {
    margin: 0;
    min-height: 100px;
    padding: 0px;
    text-align: left;
}

ul li {
    margin-top: 6px;
    list-style: none;
    background-color: #2a4e66;
    padding: 10px;
    border: 0px solid;
    color: antiquewhite;
    display: flex;
}

ul li i {
    text-align: right;
    flex: 1;
    cursor: pointer;
}